<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
          <li>Signed in as <%= current_user.name %></li>
          <li><%= link_to 'Sign Out' %></li>
        <% else %>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to "Sign In", signin_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1>g | Reddit</h1>
    </div>
  </div>

  <% if notice %>
    <div class="container">
        <div class="alert alert-info col-md-8 col-md-offset-2">
          <%= notice %>
        </div>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
